<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="app.yummyos.store.dao.StoreDao">

<insert parameterType="app.yummyos.board.notice.dto.NoticeDto" id="insert"> 
insert into notice(no, id, title, content, regdate) values(n_seq.nextval, #{id}, #{title}, #{content},sysdate) </insert>

<update parameterType="app.yummyos.board.notice.dto.NoticeDto" id="updateNotice"> 
update notice set title=#{title}, content=#{content} where no=#{no} </update>

<update id="addReadcount" parameterType="int">
	update notice set readcount = readcount + 1 where no = #{no} </update>
	
<delete parameterType="int" id="deleteNotice"> delete from notice where no = #{no} </delete>

<select id="noticeList" resultType="app.yummyos.board.notice.dto.NoticeDto">
		select no, image, title, content, regdate, readcount, id from
		(select no, image, title, content, regdate, readcount, id, rownum r
		from (select * from notice order by regdate desc)
		order by regdate desc) where r >= #{start} AND r &lt;= #{end}
 		
</select>

<select id="count" resultType="int"> select count(*) from notice </select>
<select parameterType="int" id="noticeOne" resultType="app.yummyos.board.notice.dto.NoticeDto"> 
select * from notice where no = #{no} </select>



</mapper>