<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="app.yummyos.search.dao.SearchDao">

	<select id="AllSearchstoreList" parameterType="map" resultType="app.yummyos.search.dto.SearchDto">
		select * from store
		where name like '%'||#{search}||'%' OR category like '%'||#{search}||'%'
	</select>

	<select id="AllSearchFstoryList" parameterType="map" resultType="app.yummyos.search.dto.SearchDto">
		select * from fstory where title like '%'||#{search}||'%' OR content like '%'||#{search}||'%'
	</select>

	<select id="AllSearchMpickList" parameterType="map" resultType="app.yummyos.search.dto.SearchDto">
		select * from mpick where title like '%'||#{search}||'%' OR content like '%'||#{search}||'%'

	</select>
	
</mapper>