<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="app.yummyos.wishlist.dao.WishlistDao">

<insert parameterType="app.yummyos.wishlist.dto.WishlistDto" id="insertWishlist"> 
insert into wishlist(no, store_no, id, store_name, category) values(wl_seq.nextval, #{no}, #{id}, #{name}, #{category}) </insert>

<delete parameterType="int" id="deleteWishlist"> delete from wishlist where store_no = #{store_no} </delete>

<select id="wishlistList" resultType="app.yummyos.wishlist.dto.WishlistDto">
		select no, store_no, id, store_name, category from
		(select no, store_no, id, store_name, category, rownum r
		from (select * from wishlist order by no asc)
		order by no asc) where r >= #{start} AND r &lt; = #{end}
 		
</select>
<select id="count" resultType="int"> select count(*) from wishlist </select>
<select parameterType="int" id="wishlistOne" resultType="app.yummyos.wishlist.dto.WishlistDto"> 
select * from wishlist where no = #{no} </select>


</mapper>